---
sitetitle: Roc Yu
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Roc Yu" />
    <title>{{ page.title }} | {{ page.sitetitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div id="wrapper">
       <div id="head">
           <div class="wraper">
               <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/posts">Posts</a>
                  </li>
                  <li>
                      <a href="/projects">Projects</a>
                  </li>
                  <li>
                      <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/atom.xml">RSS</a>
                  </li>
               </ul>
           </div>
       </div>
       <div id="content">
           <div class="wraper">
               {{ content }}
           </div>
       </div>
       <div id="foot">
            <p>Copyright &copy; Roc Yu 2011</p>
       </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-7581425-4']);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();
    </script>
</body>
</html>
