---
sitetitle: Roc Yu
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Roc Yu" />
    <meta name="description" content="Ruby/Rails iOS developer - Roc Yu" />
    
    <title>{{ page.title }} | {{ page.sitetitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
   {{ content }}
    <script type="text/javascript" charset="utf-8">
        var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-7581425-4']);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();
    </script>
</body>
</html>
